INST "arte_one_GbE" AREA_GROUP = "pblock_arte_one_GbE";
AREA_GROUP "pblock_arte_one_GbE" RANGE=SLICE_X168Y153:SLICE_X205Y179;
AREA_GROUP "pblock_arte_one_GbE" RANGE=DSP48_X11Y62:DSP48_X13Y71;
AREA_GROUP "pblock_arte_one_GbE" RANGE=RAMB18_X11Y62:RAMB18_X13Y71;
AREA_GROUP "pblock_arte_one_GbE" RANGE=RAMB36_X11Y31:RAMB36_X13Y35;
